## Content Based

In [34]:
import pandas as pd
import numpy as np
import ast

In [35]:
df = pd.read_csv("data.csv")
df.head()

,name,overview,id,poster_path,rating,vote_count,adult,director,producer,creator,actors,year_released,genres,keywords
0,Tagesschau,"German daily news program, the oldest still ex...",94722,https://image.tmdb.org/t/p/w500/7dFZJ2ZJJdcmkp...,7.094,171,False,[],[],[],[],1952.0,['News'],"['German', 'daily', 'news', 'program', 'oldest..."
1,Elas por Elas,Seven friends who met in their youth at an Eng...,219109,https://image.tmdb.org/t/p/w500/m0cvvnhnRXdQhL...,6.533,15,False,[],[],"['Alessandro Marson', 'Thereza Falcão']",[],2023.0,"['Comedy', 'Mystery', 'Soap', 'Drama']","['Seven', 'friends', 'met', 'youth', 'English'..."
2,Temptation Island India,Relationships ka hoga ab ultimate test! Will t...,238766,https://image.tmdb.org/t/p/w500/lpcg76guqxN9Yu...,8.000,2,False,[],[],['Jessu George'],[],2023.0,['Reality'],"['Relationships', 'ka', 'hoga', 'ab', 'ultimat..."
3,Land of Desire,When her husband is killed in a land grabbing ...,209265,https://image.tmdb.org/t/p/w500/33HrrOZQKRp7W3...,6.500,124,False,[],[],['Walcyr Carrasco'],[],2023.0,"['Drama', 'Crime', 'Soap']","['husband', 'killed', 'land', 'grabbing', 'att..."
4,Mom for rent,"Abandoned by his wife, Martin is lying to his ...",218145,https://image.tmdb.org/t/p/w500/fH7PP2Rkdlo414...,5.667,15,False,[],[],"['Matúš Libovič', 'Miloslav Volný']",[],2023.0,"['Family', 'Comedy']","['Abandoned', 'wife', 'Martin', 'lying', 'daug..."

In [36]:
df['genres'] = df['genres'].apply(ast.literal_eval)
df['genres'] = df['genres'].apply(lambda genre_list: ' '.join(map(str, genre_list)).replace(',', ''))

In [37]:
df['keywords'] = df['keywords'].apply(ast.literal_eval)
df['keywords'] = df['keywords'].apply(lambda genre_list: ' '.join(map(str, genre_list)).replace(',', ''))

In [38]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['actors'] = df['actors'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['actors'] = df['actors'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [39]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['producer'] = df['producer'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['producer'] = df['producer'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [40]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['director'] = df['director'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['director'] = df['director'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [41]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['creator'] = df['creator'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Join the elements in the list and remove commas
df['creator'] = df['creator'].apply(lambda actor_list: ' '.join(map(str, actor_list)).replace(',', ''))

In [42]:
import ast
import pandas as pd

# Assuming df is your DataFrame
df['adult'] = df['adult'].apply(lambda x: ast.literal_eval(str(x).capitalize()) if pd.notna(x) else [])

# Convert boolean values to string representations
df['adult'] = df['adult'].apply(lambda x: str(x))

# Join the elements in the list and remove commas
df['adult'] = df['adult'].apply(lambda adult_list: ' '.join(map(str, adult_list)) if isinstance(adult_list, list) else '')

In [43]:
df['rating'] = df['rating'].apply(lambda x: str(x))

In [44]:
df['tags'] = df['genres']+ " " + df['adult']+ " " + df['keywords'] + " " + df['rating'] + " " + df['director'] + " " + df['creator'] +  " " + df['producer'] +  " " + df['actors']

In [45]:
df1 = pd.read_csv('data.csv')

In [46]:
df1['tags'] = df['tags']

In [47]:
df1

,name,overview,id,poster_path,rating,vote_count,adult,director,producer,creator,actors,year_released,genres,keywords,tags
0,Tagesschau,"German daily news program, the oldest still ex...",94722,https://image.tmdb.org/t/p/w500/7dFZJ2ZJJdcmkp...,7.094,171,False,[],[],[],[],1952.0,['News'],"['German', 'daily', 'news', 'program', 'oldest...",News German daily news program oldest existin...
1,Elas por Elas,Seven friends who met in their youth at an Eng...,219109,https://image.tmdb.org/t/p/w500/m0cvvnhnRXdQhL...,6.533,15,False,[],[],"['Alessandro Marson', 'Thereza Falcão']",[],2023.0,"['Comedy', 'Mystery', 'Soap', 'Drama']","['Seven', 'friends', 'met', 'youth', 'English'...",Comedy Mystery Soap Drama Seven friends met y...
2,Temptation Island India,Relationships ka hoga ab ultimate test! Will t...,238766,https://image.tmdb.org/t/p/w500/lpcg76guqxN9Yu...,8.000,2,False,[],[],['Jessu George'],[],2023.0,['Reality'],"['Relationships', 'ka', 'hoga', 'ab', 'ultimat...",Reality Relationships ka hoga ab ultimate tes...
3,Land of Desire,When her husband is killed in a land grabbing ...,209265,https://image.tmdb.org/t/p/w500/33HrrOZQKRp7W3...,6.500,124,False,[],[],['Walcyr Carrasco'],[],2023.0,"['Drama', 'Crime', 'Soap']","['husband', 'killed', 'land', 'grabbing', 'att...",Drama Crime Soap husband killed land grabbing...
4,Mom for rent,"Abandoned by his wife, Martin is lying to his ...",218145,https://image.tmdb.org/t/p/w500/fH7PP2Rkdlo414...,5.667,15,False,[],[],"['Matúš Libovič', 'Miloslav Volný']",[],2023.0,"['Family', 'Comedy']","['Abandoned', 'wife', 'Martin', 'lying', 'daug...",Family Comedy Abandoned wife Martin lying dau...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8921,Ms. Sweet,Vera's life was like a fairy tale with a lovin...,86936,https://image.tmdb.org/t/p/w500/dBqlrehZmfmR2i...,8.100,13,False,[],[],[],[],2019.0,"['Comedy', 'Family']","['Vera', 'life', 'like', 'fairy', 'tale', 'lov...",Comedy Family Vera life like fairy tale lovin...
8922,Hot Girl,How are legends made?\n\nGuan Xiao Di is a reb...,70936,https://image.tmdb.org/t/p/w500/qlrgyWccho6WIL...,8.300,7,False,[],[],[],[],2016.0,"['Action & Adventure', 'Comedy']","['legends', 'Guan', 'Xiao', 'Di', 'rebellious'...",Action & Adventure Comedy legends Guan Xiao D...
8923,Reunion: The Sound of the Providence,Yilong Zhu and Xiaotong are leading the cast! ...,105962,https://image.tmdb.org/t/p/w500/pcWpaQNIRow8Z6...,7.143,7,False,[],[],[],[],2020.0,"['Mystery', 'Action & Adventure']","['Yilong', 'Zhu', 'Xiaotong', 'leading', 'cast...",Mystery Action & Adventure Yilong Zhu Xiaoton...
8924,Futarikko,"Born over a tofu shop in Osaka, twin sisters R...",46046,https://image.tmdb.org/t/p/w500/hVtSumMfU8Rtq7...,6.000,2,False,[],[],[],[],1996.0,"['Drama', 'Family']","['Born', 'tofu', 'shop', 'Osaka', 'twin', 'sis...",Drama Family Born tofu shop Osaka twin sister...
8925,Quartet,"Maki Maki, Sebuki Suzume, Beppu Tsukasa and Ie...",69857,https://image.tmdb.org/t/p/w500/gCuCYARnYLlXRb...,8.056,27,False,[],[],['Yuji Sakamoto'],[],2017.0,['Drama'],"['Maki', 'Maki', 'Sebuki', 'Suzume', 'Beppu', ...",Drama Maki Maki Sebuki Suzume Beppu Tsukasa I...

In [48]:
df1['genres'] = df1['genres'].apply(ast.literal_eval)
df1['genres'] = df1['genres'].apply(lambda genre_list: ' '.join(map(str, genre_list)))

In [50]:
df1['genres']

0                             News
1        Comedy Mystery Soap Drama
2                          Reality
3                 Drama Crime Soap
4                    Family Comedy
                   ...
8921                 Comedy Family
8922     Action & Adventure Comedy
8923    Mystery Action & Adventure
8924                  Drama Family
8925                         Drama
Name: genres, Length: 8926, dtype: object

In [52]:
df1.to_csv("data.csv",index=False)

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [56]:
vector = cv.fit_transform(df['tags']).toarray()

In [57]:
vector.shape

(9542, 10000)

In [58]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.03857584, 0.07856742,
        0.09365858],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.03857584, 0.        , ..., 1.        , 0.0727393 ,
        0.0433555 ],
       [0.        , 0.07856742, 0.        , ..., 0.0727393 , 1.        ,
        0.04415108],
       [0.        , 0.09365858, 0.        , ..., 0.0433555 , 0.04415108,
        1.        ]])

In [61]:
def recommend(movie):
    index = df[df['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:31]:
        print(df.iloc[i[0]]['name'])

In [66]:
recommend('Bigg Boss')

Big Brother
MasterChef India
De Bondgenoten
Gran hermano
First Dates NL
Die Küchenschlacht
Big Brother Česko & Slovensko
Alle mot alle
Steel Buddies
Farmen
Promi Big Brother
Big Brother
Trump Card
Deutscher Filmpreis
Divas Hit the Road
Die Feste mit Florian Silbereisen
Bauer sucht Frau
Hello, May I Ask You?
Markt
Česko Slovensko má talent
Sztárban sztár leszek!
La más draga
Call Me By Fire
L'amour est dans le pré Belgique
Familie Gillis: Massa is Kassa
MasterChef Česko
Výměna manželek
Kompani Lauritzen: Tropp
Heart Signal
Die Montagsmaler

## Collaborative Filtering

In [19]:
from pyspark.sql.functions import regexp_replace

from pyspark.sql import SparkSession
from pyspark.sql.functions import split, concat_ws, col

# Create a Spark session
spark = SparkSession.builder.appName("Example").getOrCreate()

# Assuming 'movies' is your DataFrame
data = [("Movie1", "['Comedy', 'Mystery', 'Soap', 'Drama']"),
        ("Movie2", "['Action', 'Adventure', 'Sci-Fi']"),
        ("Movie3", "['Comedy']")]

columns = ["name", "genres"]

movies = spark.createDataFrame(data, columns)
movies.show()


# Remove square brackets and single quotes
movies = movies.withColumn("genres", regexp_replace("genres", "[\[\]']", ""))

# Show the updated DataFrame
movies.show(truncate=False)

+------+--------------------+
|  name|              genres|
+------+--------------------+
|Movie1|['Comedy', 'Myste...|
|Movie2|['Action', 'Adven...|
|Movie3|          ['Comedy']|
+------+--------------------+

+------+----------------------------+
|name  |genres                      |
+------+----------------------------+
|Movie1|Comedy, Mystery, Soap, Drama|
|Movie2|Action, Adventure, Sci-Fi   |
|Movie3|Comedy                      |
+------+----------------------------+

In [5]:
import pandas as pd
df = pd.read_csv("final_ratings.csv")
# Assuming df is your DataFrame
df = df.drop('name', axis=1)

df.to_csv("ratings_data.csv", index=False)

In [1]:
import pandas as pd

file_path = "x.csv"

df = pd.read_csv(file_path)

df.to_csv('data.csv', index=False)

In [2]:
df = pd.read_csv('data.csv')

### Genre wise Data sorted by rating

In [24]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Drama' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Drama.csv", index=False)

In [25]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Animation' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Animation.csv", index=False)

In [26]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Comedy' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Comedy.csv", index=False)

In [27]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Sci-Fi & Fantasy' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Sci-Fi & Fantasy'.csv", index=False)

In [28]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Action & Adventure' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Action & Adventure.csv", index=False)

In [29]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Crime' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/'Crime.csv", index=False)

In [30]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Mystery' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Mystery.csv", index=False)

In [31]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Reality' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Reality.csv", index=False)

In [32]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'Family' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/Family.csv", index=False)

In [33]:
df = pd.read_csv('data.csv')

filtered_data = df[df['genres'].apply(lambda genres: 'News' in genres)]

# Sort the filtered data by the 'Rating' column
sorted_data = filtered_data.sort_values(by='rating', ascending=False)

sorted_data.to_csv("Genre_data/News.csv", index=False)